header {
  color: #fff;
  font-family: "Libre Caslon Display", serif;
  font-size: 80px;
  margin-top: 100px;
  text-align: center;
}

.audioPlayer {
  text-align: center;
}

@media (max-width: 576px) {
  header {
    font-size: 40px;
  }

  header,
  .audioPlayer {
    text-align: center;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  header {
    font-size: 60px;
  }

  .audioPlayer {
    text-align: center;
  }
}
