.footer {
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  color: #fff;
  line-height: 2;
  text-align: center;
}

.coder {
  border-radius: 20px;
  border: 2px white solid;
  margin-top: 5px;
}

.coder:hover {
  border: 0;
  border: 1px #ffeaea solid;
}

.githubLink,
.linkedinLink {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  padding: 5px;
  margin: 5px;
}

.githubLink:hover,
.linkedinLink:hover {
  color: #ffeaea;
}

@media (max-width: 576px) {
  .footerNote {
    font-size: 12px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .footerNote {
    font-size: 14px;
  }
}
