.meaning h3 {
  font-size: 25px;
  font-weight: 400px;
}

.meaning .example {
  font-style: italic;
  color: #ffeaea;
  padding-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 3px;
}

.meaning .synonymTitle {
  font-weight: 450;
}
.meaning .synonym {
}
