.phoneticAudio,
.phoneticAudioMute {
  color: #000;
}

.phoneticAudio:hover {
  cursor: pointer;
}

.phoneticAudio {
  display: inline-block;
  border-radius: 180px;
  background-color: #fff;
  padding: 0.2em 0.4em;
}

.phoneticAudioMute {
  display: inline-block;
  border-radius: 180px;
  background-color: #fff;
  padding: 0.2em 0.5em;
  margin-top: 5px;
}

@media (max-width: 576px) {
  .phonetic {
    text-align: center;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .phonetic {
    text-align: center;
  }
}
