.results {
  color: #fff;
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  h2 {
    text-align: center;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  h2 {
    text-align: center;
  }
}
